<% provide(:title, "Links") %>
<p id="notice"><%= notice %></p>

<div class="center">
  <table border="2">
    <thead>
      <tr>
        <td><strong>Name:</strong></td>
        <td><strong>Body:</strong></td>
        <td><strong>Link:</strong></td>
      </tr>
    </thead>
    
    <tbody>
      <td><%= @comment.name %></td>
      <td><%= @comment.body %></td>
      <td><%= @comment.link_id %></td>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Back', link_path(@comment.link_id) %> |
<%= link_to 'Edit', edit_comment_path(@comment) %>
<%#= link_to 'Back', comments_path %>
